/* Pages */

/* Modules */
@import 'modules/home.css';
@import 'modules/app-barr.css';

/****** General ***********/
* {
    font-family: var(--font-family);
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --font-family:'Raleway', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    margin: 0;
    padding: 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) { 

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}