/* Pages */

/* Modules */
@import 'modules/home.css';
@import 'modules/app-barr.css';
@import 'modules/info-group.css';

/****** General ***********/
* {
    font-family: var(--font-family);
}

:root {
    /* Colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    /* Text Configuration */
    --font-family:'Raleway', sans-serif;
    --max-width: 90rem;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.875rem;
    /* width: 100%; */
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90rem;
    padding-right: 0px;
    height: 4.9375rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) { 

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}