/* Filter Bar */
.ft-bar{
    display: flex;
    height: 3.125rem;
    align-items: center;
    gap: 0.9375rem;
}
.ft-bar-title {
    display: flex;
}
.ft-bar-cta-btns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.9375rem;
}
.ft-bar-cta-btns button{
    background-color: var(--color-background-white);
}
.ft-bar-btn{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 3.125rem;
    padding: 0rem 1.1875rem;
    gap: 0.625rem;
    border: 0.125rem solid var(--color-background);
    border-radius: 30px;
    color: var(--color-txt);
    font-family: var(--font-family);
    font-size: var(--font-size-mini);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: normal;
}

.ft-bar-btn:hover {
    background-color: var(--filter-bg-color);
}
.fa-solid {
    color: var(--main-color);
}
.fa-solid-grey{
    color: var(--color-background);
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) { 
    .ft-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 10.0625rem;
        gap: 1.25rem;
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .ft-bar{
        width: 100%;
    }
    .ft-bar-btn{
        display: flex;
        height: 3.125rem;
        padding: 0.25rem 1.1875rem;
        align-items: center;
        gap: 0.625rem;
        flex: 1 0 0;
    }
}