/* Search Bar */
.cta-search-bar{
    display: flex;
    width: 23.5625rem;
    height: 3.0625rem;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 0.9375rem;
}
.sch-bar{
    display: flex;
    align-items: center;
    width: 23.5625rem;
    height: 3.0625rem;
    gap: 1.5rem;
}
.cta-search-bar-lg{
    display: flex;
    width: 3.125rem;
    height: 3.0625rem;
    flex-shrink: 0;
}
.cta-search-bar-form{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.cta-search-bar-txt input{
    display: flex;
    color: var(--black, #000);
    text-align: center;
    font-family: Raleway;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}
.cta-search-bar-btn{
    display: flex;
    height: 3.0625rem;
    align-items: center;
}
.cta-search-bar-btn button{
    display: flex;
    padding: 0.9375rem 1rem;
    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    color: var(--white, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.glass{
    display: none;
}
/* Responsive Mobile */
@media (max-width: 767.98px) {
    .cta-search-bar{
        gap: 0;
        justify-content: center;
        width: 100%;
        
    }
    .cta-search-bar-btn button{
        border-radius: 0.9375rem;
        border: 1px solid var(--blue, #0065FC);
        background: var(--blue, #0065FC);
    }
    .search-txt{
        display: none;
    }
    .glass{
        display: block;  
    }
}