/****************** Card Hébergement à Marseille *******************************/
.cta-hbgt-cards{
    display: grid;
    grid-template-columns: repeat(3, 15.64583rem);
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}
.hbgt-card{
    display: flex;
    padding-bottom: 0.94rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1.25rem;
    background: #FFF;

    /* Shadow/Card */
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.hbgt-card a {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    text-decoration: none;
    color: var(--color-txt);
}
.hbgt-card img {
    height: 7.75rem;
    align-self: stretch;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    border: 5px solid var(--white, #FFF);
    object-fit: cover ;
}
.hbgt-card-txt{
    display: flex;
    padding: 0rem 0.9375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}
.hbgt-card-sstle button{
        font-family: var(--font-family);
        font-size: var(--font-size-h2);
        font-style: normal;
        font-weight: var(--font-weight-title);
        line-height: normal;
        border: none;
}
/****************************** Card Populaire **************************/
.card {
    background-color: white;
    border-radius: 1.25rem;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card a {
    display: flex;
    text-decoration: none;
    color: var(--color-txt);
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: var(--font-weight-mini);
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/***************** Card Activité **********************/
.cta-acts-cards{
    display: grid;
    grid-template-columns: repeat(4, 18.59375rem );
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
    width: 100%;
    width: 83.75rem;
    
}
.cta-acts-card{
    display: flex;
    height: 27.4375rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1.25rem;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
}
.cta-acts-card a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

