footer{
    display: flex;
    height: 10.1875rem;
    background: var(--color-background);
    max-width: 83.75rem;
    width: 100%;
}
.cta-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cta-ft-itm{
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    flex: 1 0 0;
    align-self: stretch;
}
.cta-ft-ttle{
    display: flex;
}
.cta-ft-itm h4{
    color: var(--color-txt);
    font-family: var(--font-family);
    font-size: var(--font-size-h2);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cta-ft-btn{
    display: flex;
}
.cta-ft-btn a{
    text-decoration: none;
    color: var(--color-txt);

    font-family: var(--font-family);
    font-size: var(--font-size-mini);
    font-style: normal;
    font-weight: var(--font-weight-mini);
    line-height: normal;
}

@media (max-width: 1024px){

    footer{
        width: 90%;
    }
    .cta-footer{
        gap: 1.875rem;
    }
}

@media (max-width: 767.98px){
    footer{
        flex-direction: column;
        background-color: var(--color-background-white);
    }
    .cta-footer {
        flex-direction: column;
    }
}