/* HEADLINE */
.headline{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    height: 3.3125rem;
    width: 100%;
}

@media (max-width:767.98px) {
    .headline{
        display: flex;
        flex-direction:column;
        align-content: space-between;
        align-items: flex-start;
        /* gap: 0.5rem; */
        align-self: stretch;
        height: 4.975rem;

    }
}