.logo {
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}
.logo img {
    width: 3.81813rem;
    height: 1.1875rem;
}
.menu {
    display: flex;
}
.menu-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 2.1875rem;
    padding: 0rem 1.5625rem;
    gap: 4.25rem;
}
.menu-nav-itm {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-menu);
    text-decoration: none;
    color: black;
    height: 2.1875rem;
}
 .active {
    color: var(--main-color);
    border-top: 2px solid blue;
 }
