.logo {
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}
.logo img {
    width: 3.81813rem;
    height: 1.1875rem;
}
.menu {
    display: flex;
}
.menu-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 2.1875rem;
    padding: 0rem 1.5625rem;
    gap: 4.25rem;
}
.menu-nav-itm {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: var(--font-family);
    font-weight: var(--font-weight-mini);
    font-style: normal;
    font-size: var(--font-size-mini);
    text-decoration: none;
    color: var(--color-txt);
    height: 2.1875rem;
}
.active {
    color: var(--main-color);
    border-top: 0.125rem solid var(--main-color);
}
.menu-nav-itm:hover{
    color: var(--main-color);
    border-top: 0.125rem solid var(--main-color);
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) { 
    .menu-nav{
        padding: 0rem 3.125rem;
    }
    .logo{
        padding: 1.875rem 3.125rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .menu{
        justify-content: center;
        
    }
    .logo{
        padding: 1.875rem;
    }
    .menu-nav{
        justify-content: center;
        width: 100%;
        padding: 0;
        gap: 0;
    }
    .menu-nav-itm{
        width: 100%;
        justify-content: center;
        padding-bottom: 0.94rem;
    }
    .active{
        border-top: none;
        border-bottom: 0.125rem solid var(--main-color);
    }
}