.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    padding: 0rem 3.125rem;
    box-sizing: border-box;
    gap: 2.1875rem;

}
/* Section Info Group */
.inf-grp{
    /* Info group (Desktop) */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    align-self: stretch;
}
/****** Hebergements And Populaires ***********/
.cta-grp {
    display: flex;
    justify-content: space-between;
}

.cta-grp section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.euro {
    font-weight: var(--font-weight-title);
}
.neutralStar {
    color: var(--main-bg-color)
}
/****** Hebergements ***********/
.hbgt {
    width: 65%;
}
.cta-main-hbgt{
    display: flex;
}
.cta-hbgt{
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
}
.hbgt-main{
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    flex: 1 0 0;
    align-self: stretch;
}
.hbgt-ttle{
    display: flex;
    color: var(--color-txt);
    font-family: var(--font-family);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: normal;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/****** Activités ***********/
.cta{
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.cta-acts{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
}
.cta-acts-ttle{
    display: flex;
    height: 1.87619rem;
    align-self: stretch;

}
.cta-acts-cta{
    display: flex;
    width: 100%;
}
/* Title/Section */
.cta-act-ttle h1{
    display: flex;
    font-family: var(--font-family);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: normal;
    color: var(--color-txt);
}
.cta-act-img{
    display: flex;
    width: 100%;
}
.cta-act-img img{
    display: flex;
    height: 23.75rem;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    object-fit: cover;
}
.cta-act-sstt{
    display: flex;
    padding: 1.25rem 1.1875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    width: 100%;
}
.cta-act-sstt h3{
    display: flex;
    justify-content: center;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hbgt {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}