.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    padding: 0rem 3.125rem;
    box-sizing: border-box;
    gap: 2.1875rem;
}
/* Section Info Group */
.inf-grp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    align-self: stretch;
}
/****** Hebergements And Populaires ***********/
.cta-grp {
    display: flex;
    /* justify-content: space-between; */
    gap: 2.5rem ;
    height: 38.21875rem;
}

.cta-grp section {
    border-radius: 20px;
    padding: 1.875rem;
    box-sizing: border-box;
    height: 100%;
}

.section-title {
    margin: 0;
    font-size: 22px;
}
.euro {
    font-weight: var(--font-weight-title);
}
.neutralStar {
    color: var(--main-bg-color)
}
/****** Hebergements ***********/
.hbgt {
    width: 65%;
}
.cta-main-hbgt{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    width: 65%;
}
.cta-hbgt{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
}
.hbgt-main{
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    flex: 1 0 0;
    align-self: stretch;
}
.hbgt-ttle{
    display: flex;
    color: var(--color-txt);
    font-family: var(--font-family);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: normal;
}
.hbgt-btn button{
    font-family: var(--font-family);
    font-size: var(--font-size-h2);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: normal;
    border: none;

}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/****** Activités ***********/

.cta-acts{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
    padding: 1.875rem;
}
.cta-acts-ttle{
    display: flex;
    height: 1.87619rem;
    align-self: stretch;

}

.cta-act-ttle h1{
    display: flex;
    font-family: var(--font-family);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: normal;
    color: var(--color-txt);
}

.cta-acts-card img{
    display: flex;
    height: 23.75rem;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    object-fit: cover;
}
.cta-act-sstt{
    display: flex;
    padding: 1.25rem 1.1875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    width: 100%;
}
.cta-act-sstt h3{
    display: flex;
    justify-content: center;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .inf-grp{
        height: 20.125rem;
    }
    /* Hébergements et Populaires */
    .cta-grp {
        flex-direction: column;
        gap: 3.125rem;
        height: auto;
    }
    /* Hébergements */
    .hbgt {
        width: 100%;
    }
    .cta-main-hbgt{
        flex-direction: column;
        width: 100%;
    }
    .cta-hbgt {
        width: 100%;
    }

    /* Populaires */
    .populaires {
        width: 100%;
    }
    /* Activités à Marseilles */
    .cta {
        display: flex;
        width: 100%;
    }
    .cta-acts {
        display: flex;
        padding: 1.875rem;
    }
    .cta-acts-cta{
        width: 100%;
        width: 12.09375rem;
        height: 12.5rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container{
        padding: 0;
    }

    .inf-grp{
        padding: 0rem 1.25rem;
        align-items: flex-start;
        height: 27rem;
    }

    /* Hbgt & Pop */
    .cta-grp {
        flex-direction: column-reverse;
        gap: 0.94rem;
    }
    .cta-grp section{
        display: flex;
        flex-direction: column;
        border-radius: 0;
        gap: 0.94rem;
        padding: 1.25rem;
    }
    /* Hébergement */
    .cta-main-hbgt{
        background-color: var(--color-background-white);
        margin-top: 0;
    }
    .cta-hbgt {
        gap: 0.94rem;
    }
    .cta-grp .populaires {
        padding: 1.875rem 1.25rem;
    }
    /* Activités */
    .cta-acts {
        flex-direction: column;
        width: 100%;
    }
}
